
<div class="cookies-cover">
  <div>
    <nav>
      <li>
        <a href="/">Home</a>s
      </li>
      <li>
        <a href ="/cookies">cookies</a>
      </li>
      <li>
        <a href="/event">event</a>
      </li>
      <li>
        <a href="/cupcakes">cupcakes</a>
      </li>
      <li>
        <a href="/cakes">cakes</a>
      </li>
    </nav>
  </div>
</div>

<h1 class="brand-name">Cookies</h1>
<h2 class="title">Cookies</h2>
<div class = "food-grid">
<div>
  <img src = "https://www.girlscoutsla.org/content/dam/girlscouts-shared/images/cookies/lbb/LBB_dosido.jpg/_jcr_content/renditions/original.jpg">
</div>
<div>
  <h1>almond cookie</h1>
  <p></p>
  <h1>Price $5</h1>
</div>
<div>
  <img src = "http://www.girlscouts-gssi.org/content/dam/girlscouts-shared/images/cookies/abc/ABC_Shortbread.jpg/_jcr_content/renditions/original.jpg">
</div>
<div>
  <h1>vanilla cookie</h1>
  <p></p>
  <h1>Price $5</h1>
</div>
</div>
