<div class="cupcake-cover">
  <div>
    <nav>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href ="/cookies">cookies</a>
      </li>
      <li>
        <a href="/event">event</a>
      </li>
      <li>
        <a href="/cupcakes">cupcakes</a>
      </li>
      <li>
        <a href="/cakes">cakes</a>
      </li>
    </nav>
  </div>
<h1 class="brand-name">Cupcakes</h1>
</div>

<h2 class="title">cupcakes</h2>
<div class = "food-grid">
<div>
  <img src = "https://lifemadesimplebakes.com/wp-content/uploads/2017/05/Lemon-Cupcakes-with-Lemon-Cream-Cheese-Frosting-250x250.jpg">
</div>
<div>
  <h1>lemon cupcake</h1>
  <p></p>
  <h1>Price $5</h1>
</div>
<div>
  <img src = "https://www.howsweeteats.com/wp-content/uploads/2018/02/lucky-charms-cupcakes-I-howsweeteats.com-23-250x250.jpg">
</div>
<div>
  <h1>vanilla cupcake</h1>
  <p></p>
  <h1>Price $5</h1>
</div>
</div>
