<div class="cover">
	<div>
		<nav>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href ="/cookies">cookies</a>
			</li>
			<li>
				<a href="/event">event</a>
			</li>
			<li>
				<a href="/cupcakes">cupcakes</a>
			</li>
			<li>
				<a href="/cakes">cakes</a>
			</li>
		</nav>
	</div>

</div>


	<h1 class="brand-name">La Pain</h1>

<section>
	<!-- 3 column table -->

	<h2 class="title">menu</h2>
	<div class="info-grid">
		<div>
			<h3 class="info-header">Muffins</h3>
			<img src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/recipes/mocha_chip_muffins_pecans_recipe/300x300_mocha_chip_muffins_pecans_recipe.jpg" width="100%">
			<br>
			<a href="/cupcakes">more cupcakes</a>
		</div>
		<div>
			<h3 class="info-header">Cake</h3>
			<img src="https://iambaker.net/wp-content/uploads/2016/02/rosecake2-300x300.jpg" width="100%">
			<br>
			<a href="/cakes">more cakes</a>
		</div>
		<div>
			<h3 class="info-header">Cookies</h3>
			<img src="https://images.meredith.com/content/dam/bhg/Images/recipe/33/R121922.jpg.rendition.largest.ss.jpg" width="100%">
			<br>
			<a href="/cookies">more cookies</a>
		</div>
	</div>
</div>
</section>
<hr>

<div id="menubkgd">
<h2 class="title">locations</h2>
<div class="info-grid">
	<div>
		<h3 class="info-header">Seoul</h3>
		<img src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/recipes/mocha_chip_muffins_pecans_recipe/300x300_mocha_chip_muffins_pecans_recipe.jpg" width="100%">
		<br>
		<a href="#">349 kangnamm gu</a>
	</div>
	<div>
		<h3 class="info-header">Harlem</h3>
		<img src="https://iambaker.net/wp-content/uploads/2016/02/rosecake2-300x300.jpg" width="100%">
		<br>
		<a href="#">1000 Manhattan Ave</a>
	</div>
	<div>
		<h3 class="info-header">Queens</h3>
		<img src="https://images.meredith.com/content/dam/bhg/Images/recipe/33/R121922.jpg.rendition.largest.ss.jpg" width="100%">
		<br>
		<a href="#">44 Marathan drive</a>
	</div>
</div>
</div>
</section>
<hr>
